---
- name: Pull latest image
  shell:
    cmd: |
      docker pull {{ quay_image }}

- name: Quay Config container
  docker_container:
    name: quay-config
    image: "{{ quay_image }}"
    volumes:
      - ~/quay-config:/conf/stack
      - ~/quay-storage:/datastorage
    env:
      QUAYENTRY: config
      CONFIG_APP_PASSWORD: password
    ports:
      - "9080:8080"
      - "9443:8443"
    etc_hosts:
      thomasmckay-desktop.usersys.redhat.com: 192.168.1.2
    keep_volumes: false
    auto_remove: true
    state: started
    restart: true
  register: result
  until: result is succeeded
  retries: 5
  delay: 10
