---
- name: Pull latest image
  tags: [all, restart]
  shell:
    cmd: |
      #docker pull quay.io/thomasmckay/quay:rhel7
      docker pull quay.io/quay/quay:v3-rc4-db404c3

- name: Quay Registry container
  tags: [all, restart]
  docker_container:
    name: quay
    #image: quay.io/thomasmckay/quay:rhel7
    image: quay.io/quay/quay:v3-rc4-db404c3
    volumes:
      - ~/quay-config:/conf/stack
      - ~/quay-storage:/datastorage
    env:
      QUAYENTRY: registry
      DEBUGLOG: "true"
    ports:
      - "80:8080"
      - "443:8443"
    etc_hosts:
      thomasmckay-desktop.usersys.redhat.com: 192.168.1.2
    keep_volumes: false
    auto_remove: true
    state: started
    restart: true
  register: result
  until: result is succeeded
  retries: 5
  delay: 10
